@font-face {
  font-family: 'Waldorf SLO';
  font-weight: 300;
  font-style: normal;
  src:
    url(/fonts/WaldorfSLO/WaldorfSLOthin.woff2) format('woff2'),
    url(/fonts/WaldorfSLO/WaldorfSLOthin.woff) format('woff');
}

@font-face {
  font-family: 'Waldorf SLO';
  font-weight: normal;
  font-style: normal;
  src:
    url(/fonts/WaldorfSLO/WaldorfSLO.woff2) format('woff2'),
    url(/fonts/WaldorfSLO/WaldorfSLO.woff) format('woff');
}

@font-face {
  font-family: 'Waldorf SLO';
  font-weight: bold;
  font-style: normal;
  src:
    url(/fonts/WaldorfSLO/WaldorfSLObold.woff2) format('woff2'),
    url(/fonts/WaldorfSLO/WaldorfSLObold.woff) format('woff');
}
